In [2]:
pip install dask[complete]              #installation

Requirement already satisfied: dask[complete] in c:\users\akrit\anaconda3\lib\site-packages (2023.6.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: click>=8.0 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (8.0.4)
Requirement already satisfied: cloudpickle>=1.5.0 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (2.2.1)
Requirement already satisfied: fsspec>=2021.09.0 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (2023.4.0)
Requirement already satisfied: packaging>=20.0 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (23.1)
Requirement already satisfied: partd>=1.2.0 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (1.4.0)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (6.0)
Requirement already satisfied: toolz>=0.10.0 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (6.0.0)
Requirement already satisfied: pyarrow>=7.0 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (11.0.0)
Requirement already satisfied: lz4>=4.3.2 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (4.3.2)
Requirement already satisfied: colorama in c:\users\akrit\anaconda3\lib\site-packages (from click>=8.0->dask[complete]) (0.4.6)
Requirement already satisfied: zipp>=0.5 in c:\users\akrit\anaconda3\lib\site-packages (from importlib-metadata>=4.13.0->dask[complete]) (3.11.0)
Requirement already satisfied: locket in c:\users\akrit\anaconda3\lib\site-packages (from partd>=1.2.0->dask[complete]) (1.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\akrit\anaconda3\lib\site-packages (from pyarrow>=7.0->dask[complete]) (1.24.3)
Requirement already satisfied: pandas>=1.3 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (2.2.1)
Requirement already satisfied: bokeh>=2.4.2 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (3.2.1)
Requirement already satisfied: jinja2>=2.10.3 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (3.1.2)
Requirement already satisfied: distributed==2023.6.0 in c:\users\akrit\anaconda3\lib\site-packages (from dask[complete]) (2023.6.0)
Requirement already satisfied: msgpack>=1.0.0 in c:\users\akrit\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (1.0.3)
Requirement already satisfied: psutil>=5.7.2 in c:\users\akrit\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (5.9.0)
Requirement already satisfied: sortedcontainers>=2.0.5 in c:\users\akrit\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in c:\users\akrit\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (1.7.0)
Requirement already satisfied: tornado>=6.0.4 in c:\users\akrit\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (6.3.2)
Requirement already satisfied: urllib3>=1.24.3 in c:\users\akrit\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (1.26.16)
Requirement already satisfied: zict>=2.2.0 in c:\users\akrit\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (2.2.0)
Requirement already satisfied: contourpy>=1 in c:\users\akrit\anaconda3\lib\site-packages (from bokeh>=2.4.2->dask[complete]) (1.0.5)
Requirement already satisfied: pillow>=7.1.0 in c:\users\akrit\anaconda3\lib\site-packages (from bokeh>=2.4.2->dask[complete]) (9.4.0)
Requirement already satisfied: xyzservices>=2021.09.1 in c:\users\akrit\anaconda3\lib\site-packages (from bokeh>=2.4.2->dask[complete]) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\akrit\anaconda3\lib\site-packages (from jinja2>=2.10.3->dask[complete]) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\akrit\anaconda3\lib\site-packages (from pandas>=1.3->dask[complete]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\akrit\anaconda3\lib\site-packages (from pandas>=1.3->dask[complete]) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\akrit\anaconda3\lib\site-packages (from pandas>=1.3->dask[complete]) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\akrit\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3->dask[complete]) (1.16.0)
Requirement already satisfied: heapdict in c:\users\akrit\anaconda3\lib\site-packages (from zict>=2.2.0->distributed==2023.6.0->dask[complete]) (1.0.1)

In [3]:
import dask.dataframe as dd     #importing necessary libraries
df=dd.read_csv("C:\\Users\\akrit\\Downloads\\train.csv")
df.head()  #displying first few rows

C:\Users\akrit\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
df.shape         #displaying the rows and columns

(Delayed('int-16cd35e0-a75f-495a-aec3-a9206d9cd7be'), 12)

In [8]:
df['Survived'].value_counts().compute()       #displaying the number of survived and not-survived

Survived
0    549
1    342
Name: count, dtype: int64

In [10]:
df['Age'].mean().compute()      #displaying the average age of people suffered titanic incident

29.69911764705882

In [18]:
female_count=(df['Sex']=='female').sum().compute()  #displaying the number of females 
female_count

314

In [19]:
df['Embarked'].value_counts().compute()      #displaying the number of passengers embarked from each port

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [21]:
df['Fare'].max().compute()               #displaying the maximum fare

512.3292

In [24]:
df.groupby('Pclass')['Fare'].mean().compute()         #average fair for pclass

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [26]:
df[['Age','Pclass','Fare','Survived']].isnull().sum().compute() #check for missing values in important columns

Age         177
Pclass        0
Fare          0
Survived      0
dtype: int64

In [29]:
mean_age=df['Age'].mean().compute()
df['Age']=df['Age'].fillna(mean_age)   #filled missing age value with the average value

In [30]:
df[['Age','Pclass','Fare','Survived']].isnull().sum().compute()      #checking again

Age         0
Pclass      0
Fare        0
Survived    0
dtype: int64

In [35]:
df[df['Age']>60].head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.5500,C87,S
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
280,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S

In [36]:
df=df.assign(FamilySize=df['SibSp'] + df['Parch'])        #creating a new column called familysize

In [37]:
df['FamilySize'].head(10)    #displaying first few rows of the new column

0    1
1    1
2    0
3    1
4    0
5    0
6    0
7    4
8    2
9    1
Name: FamilySize, dtype: int64